
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.color_nav_button1 {
  background-color:  rgb(243, 134, 185);
  border-radius: 5px;
  border-color: rgb(243, 134, 185);
}
.color_nav_button2 {
  background-color:  rgb(217, 3, 104);
  border-radius: 5px;
  border-color: rgb(217, 3, 104);
}
/*.color_icon_search {
  background-color:  rgb(217, 3, 104);
  border-radius: 5px;
  border-color: rgb(217, 3, 104);
}*/
.card1_img {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  height: 160px;
}
/*.card2_img {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
}
.card3_img {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  height: 148px;
}
.card4_img {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
}
.card5_img {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
}
.card6_img {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  height: 159px;
}*/
.card_buttom {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  background-color:  rgb(217, 3, 104);
  border-radius: 5px;
  border-color: rgb(217, 3, 104);
  width: 100px;
}
.button_submit {
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  background-color:  rgb(217, 3, 104);
  border-radius: 5px;
  border-color: rgb(217, 3, 104);
  width: 100px;
}
form {
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
}
thead {
  background-color:  rgb(217, 3, 104);
}
table, th, td {
  background-color: rgb(243, 134, 185);
}

div.card_details_body{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: center;
  justify-content: space-between;
  width: 85%;
  border-radius: 15px 15px 15px 15px;
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}
div.card_details_img{
  box-shadow: -5px -5px  10px 0px rgb(3, 2, 2);
  width: 40%;
  padding: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  height: 50%;
  background-color: rgb(224, 221, 217);
}

figure.card_img{
  display: flex;
  justify-content: center;
  width: 120%;

}
img.card_img{
 width: 100%;
 padding: 2%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: 5%;
  margin-left: 3%;
 display: flex;
 justify-content: center;
}

div.card_main{
  box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  padding: 2%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: 5%;
  margin-left: 3%;
  width: 41%;
  position: relative;
  background-color: rgb(224, 221, 217);
}
section.card_details{
  position: relative;
} 
.checboox_searchs{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.check{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.searchs{
  width: 10px;
}



@media only screen and (min-width:686) {
  header {
    height: 15vh;
  }
  main {
    min-height: 75vh;
  }
  footer {
    min-height: 10vh;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .content_nav_logo{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
}

@media only screen and (max-width: 685px){
  header{
    display: flex;
    justify-content: center;
  }
  .color_nav_button1 {
    background-color:  rgb(243, 134, 185);
    border-radius: 5px;
    border-color: rgb(243, 134, 185);
  }
  .color_nav_button2 {
    background-color:  rgb(217, 3, 104);
    border-radius: 5px;
    border-color: rgb(217, 3, 104);
  }
  .color_icon_search {
    background-color:  rgb(217, 3, 104);
    border-radius: 5px;
    border-color: rgb(217, 3, 104);
  }
  .card1_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    height: 160px;
  }
  /*.card2_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  }
  .card3_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    height: 148px;
  }
  .card4_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  }
  .card5_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
  }
  .card6_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    height: 159px;
  }*/
  .card_buttom {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    background-color:  rgb(217, 3, 104);
    border-radius: 5px;
    border-color: rgb(217, 3, 104);
    width: 100px;
  }
  .button_submit {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    background-color:  rgb(217, 3, 104);
    border-radius: 5px;
    border-color: rgb(217, 3, 104);
    width: 100px;
  }
  form {
    margin-left: auto;
    margin-right: auto;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }
  thead {
    background-color:  rgb(217, 3, 104);
  }
  table, th, td {
    background-color: rgb(243, 134, 185);
  }

  div.card_details_body{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  div.card_details_img{
    box-shadow: -5px -5px  10px 0px rgb(3, 2, 2);
    width: 40%;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    background-color: rgb(224, 221, 217);
  }
  
  figure.card_img{
    display: flex;
    justify-content: center;
    width: 120%;
  
  }
  img.card_img{
   width: 100%;
   padding: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-left: 3%;
   display: flex;
   justify-content: center;
  }
  
  div.card_main{
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    padding: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-left: 3%;
    width: 41%;
    position: relative;
    background-color: rgb(224, 221, 217);
  }
  section.card_details{
    position: relative;
  } 
  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content_nav_logo{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
}